#chip8Display {
    width: 768px;
    height: 384px;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-wrap: wrap;
}
#chip8Display div {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}
.reg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.reg div {
    flex: 50%;
    justify-content: center;
}
.reg label {
    width: 30px;
}
.reg input {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.off {
    background-color: black;
}

.on {
    background-color: #39ff14;
}
#chip8Main {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
}
#chip8Keyboard {
    margin-top: 2rem;
    width: 190px;
    height: 180px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#chip8Keyboard button {
    height: 40px;
    width: 40px;
}
.control-box {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}
.side-menu {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    border-left: black solid 2px;
    position: absolute;
    top: 11vh;
    right: 0px;
}
.control-box button {
    height: 40px;
    min-width: 40px;
}
header {
    background-color: white;
    color: black;
    height: 10vh;
    border-bottom: solid 1px black;
    margin-bottom: 2rem;
}
header a {
    color: black;
}
header ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
